
<div class="row">
    <div class="col-lg-12">
        <h1>this is the report title</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>row1 col1</td>
                    <td>row1 col2</td>
                    <td>row1 col3</td>
                </tr>
                <tr>
                    <td>row2 col1</td>
                    <td>row2 col2</td>
                    <td>row2 col3</td>
                </tr>
                <tr>
                    <td>row3 col1</td>
                    <td>row3 col2</td>
                    <td>row3 col3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>